{% extends 'base.html.twig' %}

{% block body %}

{{ parent() }}

{% for workshop in workshops %}
<h2><a href="/workshops/{{ workshop.id }}/edit/home">{{ workshop.yogaStyle.name }}</a> - <a href="/workshops/{{ workshop.id }}/manage_participants/home">Participants</a></h2>
<p>
  {{ workshop.plannedDate|localizeddate('long', 'short')}} - {{ workshop.plannedDate|date('l') }}, {{ workshop.duration}} minutes<br>
  {{ workshop.location.name}}{% if workshop.location.street %}, {{ workshop.location.street }}{% endif %},{% if workshop.location.zipCode %} {{ workshop.location.zipCode }}{% endif %} {{ workshop.location.city }}<br>
  <strong>Inspiration: </strong>{% if workshop.inspiration is not null %}{{ workshop.inspiration.author }} | {{ workshop.inspiration.title }} | {{ workshop.inspiration.reference }}{% else %}<span class="text-danger">Not defined yet</span>{% endif %}<br>
  {% if workshop.comments %}<strong>Comments: </strong>{{ workshop.comments }}{% endif %}
</p>
{% endfor %}

{% endblock %}