{% extends 'base.html.twig' %}

{% block title %}Edit Event #{{ event.id }} - <a href="/events/{{ event.id }}/manage_participants/{{ backToRoute }}">Manage Participants</a>{% endblock %}

{% block body %}

{{ form_start(form) }}
{{ form_widget(form) }}
<div class="form-group">
  <button type="submit" class="btn btn-primary">Save</button>
  <a href="{{ backToUrl }}" class="btn btn-outline-primary">Cancel</a>
</div>
{{ form_end(form) }}

{% endblock %}
