{% extends 'base.html.twig' %}

{% block title %}Events (<a href="/events/new">new</a>){% endblock %}

{% block body %}

{% for event in events %}
<h2><a href="/events/{{ event.id }}/edit/events">{{ event.yogaStyle.name }}</a> - <a href="/events/{{ event.id }}/manage_participants/events">Participants</a></h2>
<p>
  {{ event.plannedDate|localizeddate('long', 'short')}} - {{ event.plannedDate|date('l') }}, {{ event.duration}} minutes<br>
  {{ event.location.name}}{% if event.location.street %}, {{ event.location.street }}{% endif %},{% if event.location.zipCode %} {{ event.location.zipCode }}{% endif %} {{ event.location.city }}<br>
  <strong>Inspiration: </strong>{% if event.inspiration is not null %}{{ event.inspiration.author }} | {{ event.inspiration.title }} | {{ event.inspiration.reference }}{% endif %}<br>
  {% if event.comments %}<strong>Comments: </strong>{{ event.comments }}{% endif %}
</p>
{% endfor %}

{% endblock %}
