{% extends 'base.html.twig' %}

{% block title %}Participants (<a href="/participants/new">new</a>){% endblock %}

{% block body %}

{% for participant in participants %}
<h2><a href="/participants/{{ participant.id }}/edit">{% if participant.academicTitle is not null %}{{ participant.academicTitle }} {% endif %}{{ participant.firstName}}{% if participant.lastName is not null %} {{ participant.lastName }}{% endif %}</a></h2>
<p>
  <a href="mailto:{{ participant.email }}">{{ participant.email }}</a> - {% if participant.infoMailsYn == 'Y' %}info mails{% else %}no info mails{% endif %}, {% if participant.activeYn == 'Y' %}active{% else %}inactive{% endif %}<br>
  {{ participant.comments}}
</p>
{% endfor %}

{% endblock %}
